<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
		<link rel="stylesheet" href="../css/materialize.min.css">
		<link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <!-- seccion menu horizontal-->
    <nav class="white">
      <div class="container">
        <div class="nav-wrapper">
          <a href="../index.html" class="left align brand-logo hide-on-med-only   hide-on-small-only"><i class="logo" style="color:#c62828">Logo</i></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#c62828">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="red-text darken-3" href="aboutMe.html">hola</a></li>
            <li><a class="red-text darken-3" href="habilidades.html">hola</a></li>
            <li><a class="red-text darken-3" href="proyectos.html">hola</a></li>
            <!-- seccion menu mobile -->
          </ul>
          <ul class="side-nav text-red darken-3" id="mobile-demo">
            <li><a class="red-text" href="aboutMe.html">hola</a></li>
            <li><a class="red-text" href="habilidades.html">hola</a></li>
            <li><a class="red-text" href="proyectos.html">hola</a></li>
          </ul>
          <a href="../index.html" class="right align brand-logo hide-on-large-only"><i class="logocolor" style="color:#c62828">logo</i></a>
        </div>
      </div>
    </nav>

    <section>
      <div class="container center">
        <div class="row">
          <div class="col s12 spacio">
          <h2>Su correo ha sido enviado satisfactoriamente</h2>
        </div>
        <div class="col s12 spacio">
          <i class="fa fa-check fa-5x" aria-hidden="true" style="color:green"></i>
      </div>
      <div class="center">
        <h5><a href="perfil.html" class="white red-text darken-3 animated fadeIn">Volver a página principal</a></h5>
      </div>

      </div>
    </section>

		<script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
      <script type="text/javascript" src="../js/app.js"></script>
    </body>
    </html>
