<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Historial</title>
</head>
<body>
  <h1 class="center-align">Historial</h1>
  <div class="container">
    <div class="card-panel teal lighten-2">
      <h5 class="white-text">Puntos acumulados: <span>95</span></h5>
    </div>
    <table class="responsive-table">
        <thead>
          <tr>
              <th></th>
              <th>Acción</th>
              <th>Fecha</th>
              <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <i class="material-icons">monetization_on</i>
            </td>
            <td>Venta por $350</td>
            <td>05/06/17</td>
            <td>25</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">shopping_cart</i>
            </td>
            <td>Canje de 125 puntos</td>
            <td>02/06/17</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">monetization_on</i>
            </td>
            <td>Venta por $350</td>
            <td>25/05/17</td>
            <td>25</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">monetization_on</i>
            </td>
            <td>Venta por $250</td>
            <td>18/05/17</td>
            <td>20</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">shopping_cart</i>
            </td>
            <td>Canje de 50 puntos</td>
            <td>14/04/17</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">monetization_on</i>
            </td>
            <td>Venta por $300</td>
            <td>12/04/17</td>
            <td>25</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">school</i>
            </td>
            <td>Curso de capacitación</td>
            <td>12/04/17</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
            <i class="material-icons">shopping_cart</i>
            </td>
            <td>Canje de 50 puntos</td>
            <td>14/04/17</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
  </div>

  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
</body>
</html>
