<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <!-- seccion menu horizontal-->
    <nav class="white">
      <div class="container">
        <div class="nav-wrapper">
          <a href="../index.html" class="left align brand-logo hide-on-med-only   hide-on-small-only"><i class="logo" style="color:#c62828">Logo</i></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#c62828">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="red-text darken-3" href="aboutMe.html">hola</a></li>
            <li><a class="red-text darken-3" href="habilidades.html">hola</a></li>
            <li><a class="red-text darken-3" href="proyectos.html">hola</a></li>
            <!-- seccion menu mobile -->
          </ul>
          <ul class="side-nav text-red darken-3" id="mobile-demo">
            <li><a class="red-text" href="aboutMe.html">hola</a></li>
            <li><a class="red-text" href="habilidades.html">hola</a></li>
            <li><a class="red-text" href="proyectos.html">hola</a></li>
          </ul>
          <a href="../index.html" class="right align brand-logo hide-on-large-only"><i class="logocolor" style="color:#c62828">logo</i></a>
        </div>
      </div>
    </nav>
    <section>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4">
          <img class="circle responsive-img spacio" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png" alt="" />
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <h2 class="card-title black-text center-align">Gibrán Hernández</h2>
            <h4 class="card-title black-text center-align">Socio Premium</h4>
            <div class="center">
              <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
              <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
              <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
              <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
              <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color:#ffff00"></i>
              <div class="center">
                <span>6324 Puntos</span>
              </div>
            </div>
            <div class="container spacio">
              <div class="row center">
                <div class="col s12 m6 l6">
                  <img src="../img/vaso.jpg" alt="" class="responsive-img">
                </div>
                <div class="col s12 m6 l6">
                  <h3><a class="black-text" href="https://www.entrepreneur.com/article/262986">Cómo ser un vendedro exitoso</a></h3>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row center">
                <div class="col s12 m6 l6">
                  <img src="../img/vaso.jpg" alt="" class="responsive-img">
                </div>
                <div class="col s12 m6 l6">
                  <h3><a class="black-text" href="#">Cena para dos</a></h3>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row center">
                <div class="col s12 m6 l6">
                  <img src="../img/vaso.jpg" alt="" class="responsive-img"><
                </div>
                <div class="col s12 m6 l6">
                  <h3>¡Triplica tus ventas!</h3>
                  <h5><a class="black-text" href="http://ventasalcubo.blogspot.mx/2014/05/historia-de-un-vendedor-exitoso.html">Historia de un vendedor exitoso</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
      <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
      <script src="../js/materialize.min.js"></script>
      <script type="text/javascript" src="../js/app.js"></script>
    </body>
    </html>
