<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/main.css">
    <!--link sweetalerts-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

  </head>
  <body>
    <!-- seccion menu horizontal-->
    <nav class="teal accent-3">
    <div class="container">
      <div class="row">
        <div class="nav-wrapper">
          <a href="../../index.html" class="right align brand-logo"> <img class="asunto"  src="../img/logo.png" alt=""></a>
          <ul id="slide-out" class="side-nav center  grey lighten-5">
            <li>
              <div class="user-view">
                <div class="background"><img class="" src="https://i.hipertextual.com/2017/03/22/ae4e8ea160ca9b2eba3ec1d480ece45c.md.jpg" alt="" /></div>
                <a href="perfil.html"><img class="responsive-img circle imagenPerfil" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png"></a>
                  <a href="#!name"><h4 class="color center name">John Doe</h4></a>
                <div class="center">
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star-half-o fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <h6>6324 Puntos</h6>
                </div>
              </div>
            </li>
            <li><a class="teal-text text-darken-3" href="recompensas.html">Recompensas</a></li>
            <!-- <li><div class="divider"></div></li> -->
            <li><a class="teal-text text-darken-3" href="wishlist.html">Wishlist</a></li>
            <li><a class="teal-text text-darken-3" href="topEmpresarial.html">TOP</a></li>
            <li><a class="teal-text text-darken-3" href="Historial.html">Historial</a></li>
            <li><a class="teal-text text-darken-3" href="contacto.html">Contacto</a></li>
            <li><a class="teal-text text-darken-3" href="../../index.html">Cerrar Sesión</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse left show-on-large"><i class="fa fa-bars fa-2x" aria-hidden="true" style="color:black"></i></a>
        </div>
      </div>
    </div>
  </nav>
    <!-- seccion de perfil -->
    <section>
     <div class="row">
     	<div class="col s11 m11"></div>
     	<div class="col s1 m1">

     		<span id="notificacion" class="new badge" data-badge-caption="custom caption">4</span>
     	</div>
     </div>
      <div class="row">
        <div class="col s12 m12 l12 spacio">
          <div class="col s8 offset-s2 m4 offset-m4 l4 offset-l4">
            <img class="circle responsive-img" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png" alt="" />
          </div>
          <div class="row">
            <div class="col s12 m12 l12">
              <h4 class="card-title black-text center-align">Gibrán Hernández</h4>
              <h5 class="card-title black-text center-align">Socio Premium</h5>
              <div class="center">
                <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
                <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
                <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
                <i class="fa fa-star fa-2x" aria-hidden="true" style="color:#ffff00"></i>
                <i class="fa fa-star-half-o fa-2x" aria-hidden="true" style="color:#ffff00"></i>
                <div class="center">
                  <h5>6324 Puntos</h5>
                </div>
              </div>
              <div class="col s12 center spacio">
                <div class="row">
                  <div class="col s12 m6">
                    <img class="responsive-img" src="../img/vaso.jpg" alt="">
                  </div>
                  <div class="col s12 m6">
                    <h3><a class="black-text" href="#">Cena para dos</a></h3>
                    <h5>Encuentra los mejores lugares</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m6">
                    <img class="responsive-img" src="../img/vaso.jpg" alt="">
                  </div>
                  <div class="col s12 m6">
                    <h3><a class="black-text" href="http://ventasalcubo.blogspot.mx/2014/05/historia-de-un-vendedor-exitoso.html?m=1">¡Triplica tus ventas!</a></h3>
                    <h5>Tips, consejos, herramientas y poderosas técnicas...</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m6">
                    <img class="responsive-img" src="../img/vaso.jpg" alt="">
                  </div>
                  <div class="col s12  m6">
                    <h3><a class="black-text" href="https://www.entrepreneur.com/article/262986">Cómo ser un vendedor exitoso</a></h3>
                    <h5>Sin clientes no hay negocio. ¿Cómo conquistarlos? Con un plan efectivo y cinco estrategias para vender en tiempos de crisis.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


<!--CDN SWEET ALERTS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  </section>
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
      <script type="text/javascript" src="../js/app.js"></script>
      <script src="../js/perfil.js"></script>
    </body>
    </html>
