<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Recompensas</title>
</head>
<body>
  <!-- seccion menu horizontal-->
  <section>

    <nav class="white">

      <div class="container">

        <div class="nav-wrapper">

          <a href="../index.html" class="left align brand-logo hide-on-med-only   hide-on-small-only"><i class="logo" style="color:#c62828">Logo</i></a>

          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:#c62828">menu</i></a>

          <ul class="right hide-on-med-and-down">

            <li><a class="red-text darken-3" href="aboutMe.html">hola</a></li>

            <li><a class="red-text darken-3" href="habilidades.html">hola</a></li>

            <li><a class="red-text darken-3" href="proyectos.html">hola</a></li>

            <!-- seccion menu mobile -->

          </ul>

          <ul class="side-nav text-red darken-3" id="mobile-demo">

            <li><a class="red-text" href="aboutMe.html">hola</a></li>

            <li><a class="red-text" href="habilidades.html">hola</a></li>

            <li><a class="red-text" href="proyectos.html">hola</a></li>

          </ul>

          <a href="../index.html" class="right align brand-logo hide-on-large-only"><i class="logocolor" style="color:#c62828">logo</i></a>

        </div>

      </div>

    </nav>

  </section>


  <h1 class="center-align">Recompensas</h1>
  <!-- Búsqueda -->

  <div class="busqueda-rec">
    <div class="input-field col s12">
      <h5>Buscar por:</h5>
      <select>
        <option value="" disabled selected>Todo</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
<!-- Recompensas -->
  <div>
  <div class="row">
    <div id="contenedor" class="col s6 m3">
      <!-- <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons " id ="11">add</i></a>
        </div>
        <div class="card-content">
          <p>Vale por una comida</p>
        </div>
      </div> -->
    </div>
    <!-- <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" id="10">add</i></a>
        </div>
        <div class="card-content">
          <p>Vaciones adicionales</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" id="9"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Vale de cortesía Campo de Gotcha</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="5"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Articulos promocionales</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="6"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Gastos reembolsables</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="4"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Artículos promocionales</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red" id="8"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Pases de cortesía al cine</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="7"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Gastos reembolsables</p>
        </div>
      </div>
    </div> -->
  <!-- </div>

  <div class="row">
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="3"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Artículos promocionales</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="2"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Artículos promocionales</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="1"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Artículos promocionales</p>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://dummyimage.com/400x400">
          <a class="btn-floating halfway-fab waves-effect waves-light red " id="0"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Artículos promocionales</p>
        </div>
      </div>
    </div>
  </div>

  </div> -->

<!-- Seccion modales -->
<!-- Comida -->
<div  class="modal">
  <div class="modal-content">
    <h4 class="center-align">Detalle de recompensa</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="" alt="">
      </div>
      <div class="col s6 m6">
        <h5><strong>Nombre: </strong><span><small class="name"></small> </span> </h5>
        <h5><strong>Puntos Requeridos:</strong> <span><small class="puntos"> </small> </span> </h5>
        <h5><strong>Info:</strong> <span><small class="info"> </small> </span></h5>
        <img id="img" src="">
         </div>
      </div>
    </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div>
<!-- Vacaciones -->
<!--  <div id="vacaciones" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Vacaciones adicionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Válido por un día de vacaciones**</p>
        <h5>200 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div>
 Gotcha -->
<!-- <div id="gotcha" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Vale de cortesía Campo de Gotcha</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Válido por una cortesía para 6 personas</p>
        <h5>175 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Chamarra -->
<!-- <div id="chamarra" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Chamarrra (dama-caballero)</p>
        <h5>150 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Gastos -->
<!-- <div id="gastos" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Gastos reembolsables</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Válido por gastos reembolsables hasta $250**</p>
        <h5>150 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Carpeta -->
<!-- <div id="carpeta" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Carpeta de piel</p>
        <h5>125 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Cine -->
<!-- <div id="cine" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Válido por un pase doble al cine**</p>
        <h5>100 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Gastos2 -->
<!-- <div id="gastos2" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Gastos reembolsables</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Válido por gastos reembolsables hasta 100*</p>
        <h5>75 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Taza  -->
<!-- <div id="taza" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Taza térmica</p>
        <h5>50 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Pin -->
<!-- <div id="pin" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Pin métalico</p>
        <h5>50 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Cilindro -->
<!-- <div id="cilindro" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s6 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s6 m6">
        <p>Cilindro</p>
        <h5>30 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
  </div>
</div> -->
<!-- Boligrafo -->
<!-- <div id="boligrafo" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Artículos promocionales</h4>
    <div class="row">
      <div class="col s12 m6">
        <img src="https://dummyimage.com/300x200/000/fff" alt="">
      </div>
      <div class="col s12 m6">
        <p>Bolígrafo</p>
        <h5>25 puntos</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6 m6">
        <a class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Wish list</a>
      </div>
      <div class="col s6 m6">
        <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Canjear</a>
      </div>
    </div>
  </div>
</div> -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script><script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-database.js"></script>
<script src="../js/app.js" charset="utf-8"></script>
<script src= "../js/data.js"></script>
</body>
</html>
