<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <title>Wish List</title>
</head>
<body>
  <nav class="teal accent-3">
    <div class="container">
      <div class="row">
        <div class="nav-wrapper">
          <a href="../../index.html" class="right align brand-logo"> <img src="../img/logo.png" alt=""></a>
          <ul id="slide-out" class="side-nav center  grey lighten-5">
            <li>
              <div class="user-view">
                <div class="background"><img class="" src="https://i.hipertextual.com/2017/03/22/ae4e8ea160ca9b2eba3ec1d480ece45c.md.jpg" alt="" /></div>
                <a href="perfil.html"><img class="responsive-img circle imagenPerfil" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png"></a>
                  <a href="#!name"><h4 class="color center name">John Doe</h4></a>
                <div class="center">
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <i class="fa fa-star-half-o fa-1x" aria-hidden="true" style="color:#ffff00"></i>
                  <h6>6324 Puntos</h6>
                </div>
              </div>
            </li>
            <li><a class="teal-text text-darken-3" href="recompensas.html">Recompensas</a></li>
            <!-- <li><div class="divider"></div></li> -->
            <li><a class="teal-text text-darken-3" href="wishlist.html">Wishlist</a></li>
            <li><a class="teal-text text-darken-3" href="topEmpresarial.html">TOP</a></li>
            <li><a class="teal-text text-darken-3" href="Historial.html">Historial</a></li>
            <li><a class="teal-text text-darken-3" href="contacto.html">Contacto</a></li>
            <li><a class="teal-text text-darken-3" href="../../index.html">Cerrar Sesión</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse left show-on-large"><i class="fa fa-bars fa-2x" aria-hidden="true" style="color:black"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <section>

  <h1 class="center-align">Wish List</h1>
  <div class="wish-list container">
    <div class="card-panel teal lighten-2">
      <h5 class="white-text">Tus puntos: <span>100</span></h5>
    </div>
    <ul class="collection">
      <li class="" id="div1">
        <div class="card-panel">
          <div class="row">
              <div class="col s12 m4">
                <img class="wish-image" src="https://dummyimage.com/200x200">
              </div>
              <div class="col s12 m8">
                <h5 class="wish-title">Vale de cortesía Campo de Gotcha</h5>
                <p>Válido por una cortesía para 6 personas</p>
                <h5>Para canjear este producto te faltan: <span>75</span> puntos</h5>
              </div>
            </div>
          <div>
        </div>
        <a class="waves-effect waves-light btn btn-add modal-trigger" href="#modal1">canjear</a>
        <a class="waves-effect waves-light btn red btn-del" id="prueba">eliminar</a>
      </li>
      <li class="">
        <div class="card-panel">
          <div class="row">
              <div class="col s12 m4">
                <img class="wish-image" src="https://dummyimage.com/200x200">
              </div>
              <div class="col s12 m8">
                <h5 class="wish-title">Vale por una comida para 2 personas</h5>
                <p>Válido por un importe total de $350**</p>
                <h5>Para canjear este producto te faltan: <span>125</span> puntos</h5>
              </div>
            </div>
          <div>
        </div>
        <a class="waves-effect waves-light btn btn-add modal-trigger" href="#modal1">canjear</a>
        <a class="waves-effect waves-light btn red btn-del">eliminar</a>
      </li>
      <li class="">
        <div class="card-panel">
          <div class="row">
              <div class="col s12 m4">
                <img class="wish-image" src="https://dummyimage.com/200x200">
              </div>
              <div class="col s12 m8">
                <h5 class="wish-title">Artículos promocionales</h5>
                <p>Carpeta de piel</p>
                <h5>Para canjear este producto te faltan: <span>50</span> puntos</h5>
              </div>
            </div>
          <div>
        </div>
        <a class="waves-effect waves-light btn btn-add modal-trigger" href="#modal1">canjear</a>
        <a class="waves-effect waves-light btn red btn-del">eliminar</a>
      </li>
    </ul>
  </div>
  <!-- Modal -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center-align">¿Quieres canjear este producto?</h4>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn check"><i class="material-icons right">check</i>aceptar</a>
      <a class="waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i>cancelar</a>
    </div>
  </div>

  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/app.js" charset="utf-8"></script>
  <script src="../js/wishlist.js" charset="utf-8"></script>
</body>
</html>
