
.spacio{
  margin-top: 15vh;
}
.asunto{
  margin-top: 3vh;
}
.wish-image{
    display: block;
    margin: 0 auto;
  }
  @media (min-width: 100px) and (max-width: 550px){
    .wish-title{
      text-align: center;
    }
    .btn-add, .btn-del{
      display: block;
      margin: 0 auto;
    }

}
