.img{
	width:200px;
	height:200px;
}
.btn-floating.halfway-fab.waves-effect.waves-light.blue{
	position:absolute;
	left: 7%;
	top:80%;
}
.card{
	height:300px;
}
.modal-overlay{
	width:650px;
	height:400px;
	margin-top:10%;
	margin-left:10%;
}

.spacio{
  margin-top: 13vh;
}

.side-nav{
  width: 170px;
}
.imagenPerfil{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.asunto{
  margin-top: 3vh;
}
.wish-image{
    display: block;
    margin: 0 auto;
  }
  @media (min-width: 100px) and (max-width: 550px){
    .wish-title{
      text-align: center;
    }
    .btn-add, .btn-del{
      display: block;
      margin: 0 auto;
    }
}
.loginSpacio{
	margin-top: 6vh;
}
.loginSize{
	width: 40vh;
}
