#map {
	height: 200px;
	width: 100%;
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 3vh;
	width: 100%;
	background:  #4db6ac;
	height: 6vh;
	border-radius: 3px;
}

.skillbar-title {
	position: absolute;
	color: #4db6ac;
	top: 0;
	left: 0;
	width: 23vh;
	
	font-weight: bold;
	font-size: 3vh;
}

.skillbar-title span {
	color: black;
	display: block;
	padding: 0 2vh;
	height: 6vh;
	line-height: 7vh;
}

.skillbar-bar {
	height: 6vh;
	width: 0;
	border-radius: 3px;
}

.skill-bar-percent {
	position: absolute;
	right: 2vh;
	top: 0;
	font-size: 3vh;
	height: 7vh;
	line-height: 7vh;
}
.tabs .tab a{
	color: rgba(77, 182, 172, .5);
	background-color: white;
}
.tabs .tab a:hover, .tabs .tab a.active {
	color:gray;
}


